@font-face {
  font-family: 'Aclonica';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/aclonica-regular.woff') format('woff');
  src: url('../fonts/aclonica-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:url('../fonts/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
}
